---
import Picture from "~/components/core/Picture.astro";

import { getPermalink } from "~/utils/permalinks";
import { findImage } from "~/utils/images";

const { work } = Astro.props;

const image = await findImage(work.imageSocial);
---

<article class="max-w-md p-8 mx-auto">
  <a class="relative block group" href={getPermalink(work.slug, "portfolio")}>
    <div class="relative h-0 pb-[56.25%] overflow-hidden bg-gray-400 dark:bg-slate-700 rounded shadow-lg">
      <Picture
        src={image}
        class="absolute inset-0 object-cover object-top w-full h-full mb-6 bg-gray-400 rounded shadow-lg dark:bg-slate-700"
        widths={[400, 900]}
        sizes="(max-width: 900px) 400px, 900px"
        alt={work.title}
        aspectRatio="16:9"
      />
    </div>
  </a>
  <div class="p-3">
    <a class="relative block group" href={getPermalink(work.slug, "portfolio")}> </a><a
      class="relative block group"
      href={getPermalink(work.slug, "portfolio")}
    >
    </a>
    <header>
      <a class="relative block group" href={getPermalink(work.slug, "portfolio")}> </a><h2
        class="mb-2 text-xl font-bold leading-snug sm:text-2xl font-heading"
      >
        <a class="relative block group" href={getPermalink(work.slug, "portfolio")}> </a><a
          class="underline transition duration-200 ease-in hover:text-primary-600 underline-offset-4 decoration-1 decoration-dotted"
          href={getPermalink(work.slug, "portfolio")}
        >
          {work.title}
        </a>
      </h2>
    </header>
    <p class="flex-grow text-md sm:text-lg">
      {work.type}
    </p>
    <p class="flex-grow text-md sm:text-lg">
      {work.description}
    </p>
    <footer class="mt-4 text-center">
      <a href={getPermalink(work.slug, "portfolio")} class="text-black transition btn bg-primary-500 hover:bg-primary-600">View</a>
    </footer>
  </div>
</article>
