---
import { Icon } from "astro-icon";
import { getContactPermalink } from "~/utils/permalinks";

const hosting = [
  {
    title: "Hosting",
    description: ["Hosting in our servers", "Domain included in the price", "24/7 Customer support", "5k visits per month"],
    price: "$30",
  },
  {
    title: "Personal",
    description: ["All in Hosting plan included", "Custom web design and dev", "Single landing page", "Great for CV's or Landing Pages", "10k visits per month"],
    price: "$100",
  },
  {
    title: "Business",
    description: ["All in the Standard plan included", "1 blog post per month", "CMS for you to manage", "20k visits per month", "Additionals blog posts"],
    price: "$300",
  },
];

const design = [
  {
    title: "Logo",
    description: ["Up to 2 Revisions", "Light and Dark themes", "Color palettes", "Included with Business Plans", "Copyright Ownership"],
    price: "$100",
  },
  {
    title: "Branding",
    description: ["Up to 5 Revisions", "Includes logo design", "Business Card", "Letterhead & Envelope Designs", "Copyright Ownership"],
    price: "$1500",
  },
  {
    title: "Premium Branding",
    description: ["Up to 5 Revisions per item", "Includes all in brading package", "Flyer / Poster / Brochure", "Compliments slip", "Board / Hoarder design", "Social Media Kit", "Copyright Ownership"],
    price: "$3500",
  },
];

const custom = [
  {
    title: "Make your own package",
    description: ["Any package or service you want", "Special prices", "Fast response", "Talk to us and tell us what you need"],
  },
];

const items = [
  {
    title: "Design and Development",
    description: "Our work includes over 40 hours of work in design and development our standard plan.",
    icon: "noto:bookmark-tabs",
  },
  {
    title: "Mobile first Design",
    description: "We build our designs for mobile first. There will be no device that our webs won't support.",
    icon: "flat-color-icons:smartphone-tablet",
  },
  {
    title: "Optimized designs",
    description: "Optimization is primordial for us. Our sites will have an outstanding score in performance and load times.",
    icon: "flat-color-icons:electro-devices",
  },
  {
    title: "Pricing",
    description: "We know price is important. We give facilities for everyone to have their site on the web.",
    icon: "flat-color-icons:calculator",
  },
  {
    title: "24/7 Customer Service",
    description: "Anytime you have a problem or a question, just send us a message and we will get back to you as soon as possible.",
    icon: "noto:eight-oclock",
  },
  {
    title: "Lifetime Support",
    description: "If you have your site hosted with us, we will take care forever of it. No more problems with your website.",
    icon: "flat-color-icons:support",
  },
];
---

<section class="relative pt-20" id="services">
  <div class="absolute inset-0 mt-20 mb-32 pointer-events-none bg-primary-100 dark:bg-slate-800" aria-hidden="true"></div>
  <div class="relative max-w-6xl px-4 mx-auto sm:px-6">
    <div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
      <div class="mb-8 text-center">
        <p class="text-base font-semibold tracking-wide uppercase text-primary-700 dark:text-primary-200">What we do</p>
        <h2 class="mb-4 text-4xl font-bold tracking-tighter md:text-5xl leading-tighter font-heading">Hosting</h2>
      </div>
      <div class="flex flex-wrap items-start justify-center gap-6 my-12 dark:text-white">
        {
          hosting.map(({ title, description, price }) => (
            <div class="relative flex flex-col w-[22rem] p-6 transition bg-white rounded shadow-xl dark:bg-slate-900 hover:shadow-lg dark:border dark:border-slate-800">
              <h2 class="mb-4 text-3xl font-bold text-center">{title}</h2>
              <h2 class="my-4 text-4xl font-bold text-center text-primary-700 dark:text-primary-500">{price}<span class="text-sm"> /mo</span></h2>
              <div class="flex flex-col">
                {description.map((item) => (
                  <p class="flex items-center justify-start py-2 text-gray-500 dark:text-gray-300 text-md">
                    <Icon name="entypo:dot-single" class="w-8 h-8" />
                    {item}
                  </p>
                  <hr class="w-3/4 mx-auto dark:border-gray-700">
                ))}
              </div>
              <a href={getContactPermalink()} class="mt-12 mb-4 text-xl font-bold text-black btn bg-primary-500 hover:bg-primary-600">Contact Us!</a>
            </div>
          ))
        }
      </div>
      <div class="grid gap-6 mt-12 mb-24 md:grid-cols-2 lg:grid-cols-3 dark:text-white">
        {
          items.map(({ title, description, icon }) => (
            <div class="relative flex flex-col p-6 transition bg-white rounded shadow-xl dark:bg-slate-900 hover:shadow-lg dark:border dark:border-slate-800">
              <div class="flex items-center mb-4">
                <Icon name={icon} class="w-12 h-12" />

                <div class="ml-4 text-xl font-bold">{title}</div>
              </div>
              <p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
            </div>
          ))
        }
      </div>
      <div class="mb-8 text-center">
        <p class="text-base font-semibold tracking-wide uppercase text-primary-700 dark:text-primary-200">What we do</p>
        <h2 class="mb-4 text-4xl font-bold tracking-tighter md:text-5xl leading-tighter font-heading">Design</h2>
      </div>
      <div class="flex flex-wrap items-start justify-center gap-6 my-12 dark:text-white">
        {
          design.map(({ title, description, price }) => (
          <div class="relative flex flex-col w-[22rem] p-6 transition bg-white rounded shadow-xl dark:bg-slate-900 hover:shadow-lg dark:border dark:border-slate-800">
              <h2 class="mb-4 text-3xl font-bold text-center">{title}</h2>
              <h2 class="my-4 text-4xl font-bold text-center text-primary-700 dark:text-primary-500">{price}</h2>
              <div class="flex flex-col">
                {description.map((item) => (
                  <p class="flex items-center justify-start py-2 text-gray-500 dark:text-gray-300 text-md">
                    <Icon name="entypo:dot-single" class="w-8 h-8" />
                    {item}
                  </p>
                  <hr class="w-3/4 mx-auto dark:border-gray-700">
                ))}
              </div>
              <a href={getContactPermalink()} class="mt-12 mb-4 text-xl font-bold text-black btn bg-primary-500 hover:bg-primary-600">Contact Us!</a>
            </div>
          ))
        }
      </div>
      <div class="mb-8 text-center">
        <p class="text-base font-semibold tracking-wide uppercase text-primary-700 dark:text-primary-200">What we do</p>
        <h2 class="mb-4 text-4xl font-bold tracking-tighter md:text-5xl leading-tighter font-heading">Want something more?</h2>
      </div>
      <div class="flex flex-wrap items-start justify-center gap-6 my-12 dark:text-white">
        {
          custom.map(({ title, description}) => (
          <div class="relative flex flex-col w-[22rem] p-6 transition bg-white rounded shadow-xl dark:bg-slate-900 hover:shadow-lg dark:border dark:border-slate-800">
              <h2 class="mb-4 text-3xl font-bold text-center">{title}</h2>
              <h2 class="my-4 text-4xl font-bold text-center text-primary-700 dark:text-primary-500">Custom prices</h2>
              <div class="flex flex-col">
                {description.map((item) => (
                  <p class="flex items-center justify-start py-2 text-gray-500 dark:text-gray-300 text-md">
                    <Icon name="entypo:dot-single" class="w-8 h-8" />
                    {item}
                  </p>
                  <hr class="w-3/4 mx-auto dark:border-gray-700">
                ))}
              </div>
              <a href={getContactPermalink()} class="mt-12 mb-4 text-xl font-bold text-black btn bg-primary-500 hover:bg-primary-600">Contact Us!</a>
            </div>
          ))
        }
      </div>

    </div>
  </div>
</section>
